

#sponsers_grid{
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px ,359px));
    width: 80vw;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.singleSponser{
    aspect-ratio: 3/4;
    background-color: rgb(56, 56, 56);
}