{% macro common()  %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comme:wght@200&family=Roboto&display=swap" rel="stylesheet">
<meta name="google-site-verification" content="DS786OaF2TjtnsLbR43p33cbV-iTJ_8LkXQz_GC4h08" />
<link href="https://fonts.googleapis.com/css2?family=Comme:wght@200&family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">


{% endmacro %}