{% macro navbar() %}

    
    <div  id="navbar">
    
            <a id="go_to_home" href  ="/" > 

                <img src="{{url_for('static' , filename = 'res/back_arrow.png' )}}" alt="image">
                

            </a>
            
    
            <div id="show_navbar">

                <span class="bar1 bar"></span>
                <span class="bar2 bar"></span>
                <span class="bar3 bar"></span>

            </div>

            <div class="empty"></div>
    
            <div id="navbar_logo"> <img src="{{ url_for('static' , filename = 'res/logo.png') }}" alt="logo"> </div>
    
            <div class="empty"></div>
            
            <div id="links">
    
                <!-- <button id="close_navbar_links">close</button> -->
    
                <ul>
                    <li> <a    class = "link home_link" href="/">HOME</a> </li>
                    <li> <a    class = "link about_us_link" href="/about_us">ABOUT US</a> </li>
                    <li> <a    class = "link projects_link" href="/projects">PROJECTS</a> </li>
                    <li> <a    class = "link members_link" href="/members">TEAM</a> </li>
                    <li> <a    class = "link sponsers_link" href="/sponsers">SPONSERS</a> </li>
                    <li> <a    class = "link gallery_link" href="/gallery">GALLERY</a> </li>
                    <li> <a    class = "link gallery_link" href="/contact">CONTACT</a> </li>
                </ul>
    
            </div>
    
        </div>

        <script src="{{ url_for('static' , filename = 'js/navbar.js' ) }}"></script>

{% endmacro %}