<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/single_event.css">
    <title>Document</title>
</head>

<body>

    <h2 class="main_heading">{{details[1]}}</h2>

    <div class="info">

        <div class="poster">

            <img src="/static/all_pics/event_posters/{{details[2]}}" alt="image">

        </div>

        <div class="content">

            <p>{{details[3]}}</p>

        </div>

    </div>


    <h1 class = "recording_heading">Recorded Session</h1>

    <div class="video">



        <div class="container">
            <iframe src="{{details[4]}}" width="640"
                height="480" autoplay = "allow" allowfullscreen  = "allowfullscreen"  sandbox = "allow-scripts allow-same-origin" seamless="" ></iframe>
        </div>
    </div>


</body>

</html>