<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename = '/css/common.css') }}">
    <link rel="stylesheet" href="{{  url_for('static' , filename = 'css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename = '/css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/sponser.css') }}">
    <title>Excelarators</title>
</head>
<body>


    {% from 'navbar.html' import navbar %}
    {{ navbar() }}

    <script>
        const links = document.getElementById("links");
        const show_navbar = document.getElementById("show_navbar");
        links.remove();
        show_navbar.remove();
    </script>

    <div id="sponsers_grid">


        {% for sponser in sponsers %}

        <div class="singleSponser">

            <div class="singleSponser">

                <div class="imageDiv">
                    <img src="static/res/sponsers_logo/{{sponser[1]}}" alt="">
                </div>
                <h3 class = "sponser_title">{{sponser[0]}}</h3>

            </div>

        </div>

        {% endfor %}

    </div>
    
</body>
</html>